beautifulsoup4==4.12.2
crochet==2.0.0
dominate==2.7.0
gensim==3.8.3
h5py==3.8.0
imbalanced_learn==0.7.0
imblearn==0.0
itemadapter==0.7.0
keras==2.12.0
lazypredict==0.2.12
matplotlib==3.6.3
numpy==1.24.2
pandas==1.4.4
pycaret==2.3.10
pystempel==1.2.0
scikit_learn==1.2.2
scipy==1.5.4
Scrapy==2.8.0
stempel==0.1.0
yellowbrick==1.2.1
